.location {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
  font-family: 'Montserrat', Sans-serif;
  flex-wrap: wrap;
}

.head-title {
  font-family: 'EB Garamond', Sans-serif;
  padding-top: 1rem;
  font-size: 40px;
  font-weight: 500;
  text-transform: none;
  font-style: italic;
  letter-spacing: 1px;
  color: #c09672;
}

.card {
  width: 35%;
  padding: 2rem;
}

.logo {
  height: 3rem;
}

.location .title {
  font-family: 'EB Garamond', Sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
}

.desc {
  letter-spacing: 3px;
}

.btn {
  font-family: 'Montserrat', Sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  fill: var(--e-global-color-6afe1fc);
  color: var(--e-global-color-6afe1fc);
  background-color: #fff;
  border-style: solid;
  border-width: 3px;
  border-color: #c09672;
  border-radius: 10px;
  padding: 16px 25px;
}

.location a:link {
  text-decoration: none;
  color: #443f3f;
}

.location a:visited {
  text-decoration: none;
  color: #443f3f;
}

.location a:hover {
  text-decoration: none;
  color: #443f3f;
}

.location a:active {
  text-decoration: none;
  color: #443f3f;
}

.btn:active {
  transform: translateY(4px);
}

@media all and (max-width: 800px) {
  .location {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    margin-left: -2rem;
  }
  .card {
    width: 70%;
    margin: 2rem 0;
  }
}
