.confirm {
  margin: 10rem 0 5rem 0;
  font-family: 'Poppins', Sans-serif;
  padding-bottom: 1rem;
  -webkit-box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.199);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.199);
  background-color: rgba(252, 222, 227, 0.342);
}

.title {
  font-family: 'Dancing Script', Sans-serif;
  font-size: 3rem;
}

.desc {
  letter-spacing: 3px;
}

.btn {
  padding: 1rem;
  border: 1px solid pink;
  border-radius: 2rem;
  -webkit-box-shadow: 4px 3px 7px 2px rgba(0, 0, 0, 0.39);
  box-shadow: 4px 3px 7px 2px rgba(0, 0, 0, 0.39);
  background-color: white;
  font: 2em;
  letter-spacing: 3px;
  font-weight: bold;
  color: rgb(182, 82, 98);
  width: 15rem;
}

a:link {
  text-decoration: none;
  color: rgb(182, 82, 98);
}

a:visited {
  text-decoration: none;
  color: rgb(182, 82, 98);
}

a:hover {
  text-decoration: none;
  color: rgb(182, 82, 98);
}

a:active {
  text-decoration: none;
  color: rgb(182, 82, 98);
}

.btn:active {
  transform: translateY(4px);
}

@media all and (max-width: 800px) {
  .confirm {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }
  .card {
    width: 70%;
    margin: 2rem 0;
  }
}
