.header {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins', Sans-serif;
}

.main-text {
  background-image: url('../../../public/images/header.jpg');
  background-position: center;
  background-size: cover;
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
}

.name {
  font-size: 7rem;
  font-family: 'Great Vibes', Sans-serif;
}

.counter {
  display: flex;
  justify-content: space-around;
  max-width: 70vw;
  align-items: center;
  margin-left: 15vw;
  font-family: 'Poppins', Sans-serif;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 2rem;
  margin: 1rem 0 0 0;
}
